{% extends 'base.html' %}
{% load static %}

{% block title %}Iniciar Sesión{% endblock %}

{% block styles %}
<link rel="stylesheet" href="{% static 'css/auth/login.css' %}">
{% endblock %}

{% block content %}
<div class="auth-container">
    <h2>Iniciar Sesión</h2>
    <form method="post">
        {% csrf_token %}
        <label for="username">Usuario:</label>
        <input type="text" name="username" required>
        
        <label for="password">Contraseña:</label>
        <input type="password" name="password" required>
        
        <button type="submit">Ingresar</button>
    </form>

    <p>¿No tienes cuenta? <a href="{% url 'auth:register' %}">Regístrate aquí</a></p>
</div>
{% endblock %}
